*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --container_width: 1216px;
    --container_padding: 15px;
}

.container{
    width: calc(var(--container_width) + var(--container_padding) * 2);
    padding: 0 var(--container_padding);
    margin-left: auto;
    margin-right: auto;
}

body{
    color: #2C2C2C;
}

.header{
    padding-bottom: 10px;
}

.header__logo{
    margin-right: auto;
}

.header__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.menu__nav{
    display: flex;
    justify-content: center;
}

.nav__item{
   list-style: none;
}

.nav__link{
    text-decoration: none;
}